.corporate_parties
	.corporate_parties__wrap 


		.corporate_parties__block-header 	
			.corporate_parties__link-events Top “Manhattan” events
			h1.corporate_parties__headline   корпоративы
			h4.corporate_parties__central-text   корпоративы

			.corporate_parties__block-proposal-menu
				.proposal_buffet-menu
					img(src="../../../../../app/img/corporate_parties/buffet-menu/buffet-menu.png" alt="")
					p.buffet-proposal-text Фуршетное меню от 1000 руб. на человека (до 150 человек).
				.proposal_banquet-menu
					img(src="../../../../../app/img/corporate_parties/buffet-menu/banquet-menu.png" alt="")
					p.buffet-proposal-text Банкетное меню от 1500 руб. на человека (до 100 человек). 

		.corporate_parties__block-advances
			.corporate_parties__block-advances_headline ПОЧЕМУ МЫ?
			ul.corporate_parties__list  
				li.advance Отдельный зал на 30 человек с профессиональной системой караоке 		
				li.advance Удобная парковка и близость к трем станциям метро в центре города 
				li.advance Большие экраны 
				li.advance Танцпол с современной звуковой и световой аппаратурой 
				li.advance Сцена с проекционным экраном.
