/* Стиль вкладок */
.tab {
	overflow       : hidden;
	display        : flex;
	justify-content: space-around;
	border-radius  : 5px 5px 0px 0px;
}

.tab__wrap {
	font-family: Arial;
	width      : 416px;
	height     : 542px;
}

/* Стиль кнопок внутри вкладок */
.tab button {
	float         : left;
	border        : none;
	outline       : none;
	cursor        : pointer;
	padding       : 14px 16px;
	transition    : 0.3s;
	font-family   : 'Gotham Pro';
	font-style    : normal;
	font-weight   : 700;
	font-size     : 14px;
	line-height   : 150%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color         : #FFFFFF;
	width         : 208px;
	background    : rgba(42, 18, 10);
}


/* Создание активного/текущего класса связей вкладок */
.tab button.active {
	background: rgba(51, 23, 11);
}

/* Стиль содержимого вкладки */
.tabcontent {
	width        : 416px;
	padding      : 0px 0px;
	border-radius: 0px 0px 5px 5px;
	height       : 0;
}


@font-face {
	font-family: "Gotham Pro";
	font-style : normal;
	src        : local("../../../../app/fonts/Gotham Pro/gothampro_medium.ttf");
}

.main-block-anounce {
	display      : grid;
	margin-top   : 53px;
	justify-items: center;
	cursor       : pointer;
}

.main-block-anounce__wrap {
	display              : grid;
	width                : 1296px;
	height               : 542px;
	grid-template-columns: 856px 416px;
}

.main-block-anounce__tab-headers {
	display              : grid;
	grid-template-columns: 207px 208px;
	grid-template-rows   : 2fr;
	background           : rgba(213, 98, 29, 0.1);
}

.main-block-anounce__tab {
	display              : grid;
	grid-template-columns: 416px;
	justify-items        : center;
}


.main-block-anounce__header {
	font-family   : "Gotham Pro";
	font-style    : normal;
	font-weight   : 700;
	font-size     : 14px;
	line-height   : 150%;
	letter-spacing: 0.05em;
	height        : auto;
	text-transform: uppercase;
	color         : #fff;
	border-radius : 5px 5px 0 0;
	display       : grid;
	justify-self  : flex-start;
	align-self    : center;
	margin-left   : 48px;
}

.main-block-anounce__header-soon {
	font-family   : "Gotham Pro";
	font-style    : normal;
	font-weight   : 700;
	font-size     : 14px;
	line-height   : 150%;
	letter-spacing: 0.05em;
	height        : auto;
	text-transform: uppercase;
	color         : #fff;
	border-radius : 5px 5px 0 0;
	display       : grid;
	justify-self  : flex-end;
	align-self    : center;
	margin-right  : 85px;
}

.main-block-anounce-block-posters {
	display              : grid;
	grid-template-columns: 160px 160px;
	gap                  : 26px;
	height               : 492px;
	width                : 416px;
}

.show {
	display: grid;
}

.hide {
	display: none;
}

.main-block-anounce__button-menu {
	display        : grid;
	justify-items  : center;
	align-self     : center;
	gap            : 10px;
	background     : #fff;
	margin-top     : 120px;
	border-radius  : 5px;
	padding        : 10px 20px 7px 20px;
	text-decoration: none;
	width          : 204px;
	height         : 21px;
	font-family    : 'Gotham Pro';
	font-style     : normal;
	font-weight    : 700;
	font-size      : 14px;
	line-height    : 150%;
	text-align     : center;
	letter-spacing : 0.05em;
	text-transform : uppercase;
	color          : #210E09;
}

.poster {
	width      : 160px;
	height     : 200px;
	margin-left: 35px;
	margin-top : 39px;
}

.poster:nth-child(3) {
	margin-top: 0px;
}

.poster:nth-child(4) {
	margin-top: 0px;
}