.contacts
	.contacts__wrap
		a.contacts__top-link Top &ldquo;Manhattan&rdquo; place
		p.contacts__headline  &kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
		.contacts__block-map-contacts
			.contacts__address
				.block-adress
					.adress-headline &Acy;&dcy;&rcy;&iecy;&scy;
					.adress-location &Ncy;&acy;&bcy;&iecy;&rcy;&iecy;&zhcy;&ncy;&acy;&yacy; &rcy;&iecy;&kcy;&icy; &Fcy;&ocy;&ncy;&tcy;&acy;&ncy;&kcy;&icy;, 90 (&vcy;&khcy;&ocy;&dcy; &vcy; &acy;&rcy;&kcy;&iecy; &scy; &bcy;&iecy;&lcy;&ycy;&mcy;&icy; &kcy;&ocy;&lcy;&ocy;&ncy;&ncy;&acy;&mcy;&icy;)
				.block-phone
					.phone-headline &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;
					.phone-number +7 (812) 713-1945
				.operating-mode-block
					.operating-mode-headline &rcy;&iecy;&zhcy;&icy;&mcy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
					.operating-mode-during &IEcy;&zhcy;&iecy;&dcy;&ncy;&iecy;&vcy;&ncy;&ocy; &scy; 12:00 &dcy;&ocy; 06:00
				hr.line
				.management-block
					.director-block
						.director__headline &dcy;&icy;&rcy;&iecy;&kcy;&tcy;&ocy;&rcy;
						.director__name &Lcy;&icy;&dcy;&icy;&yacy; &Ecy;&mcy;&icy;&lcy;&softcy;&iecy;&vcy;&ncy;&acy;, +7(921) 963-55-50
					.art-director-block
						.art-director__headline &acy;&rcy;&tcy;-&dcy;&icy;&rcy;&iecy;&kcy;&tcy;&ocy;&rcy;
						.art-director__name &Icy;&lcy;&icy;&ncy;&icy;&yacy; &Icy;&ocy;&ncy;&acy;&shcy;&kcy;&ocy;, +7(981) 989-43-30
			.contacts__map
				script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0be83a283ecfd94702ec30fec0bea565b14ae476a305cb4289ac46a00e9c0843&width=856&height=600&lang=ru_RU&scroll=true')
	footer
		.footer__wrap
			.footer__copyright  Copyright &copy; 2022. &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;.
			.footer__developed  &Rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&acy;&ncy;&ocy; d-e-n.ru