.contacts
	.contacts__wrap 
		a.contacts__top-link Top “Manhattan” place
		p.contacts__headline    контакты

		.contacts__block-map-contacts
			.contacts__adress
				.block-adress 
					.adress-headline Адрес
					.adress-location Набережная реки Фонтанки, 90 (вход в арке с белыми колоннами)


			.contacts__map 
				img(src="app/img/contacts/map.jpg" alt="map")
