.events_and_turists-block
	.events_and_turists-block__wrap 
		.block_events
			a.block_events__link-events Top “Manhattan” events
			h2.block_events__header__events Банкеты
			p.block_events__describe Quam massa pretium et venenatis.
				| Fringilla sagittis, arcu massa, in sem viverra consequat. Tempus sed 
				|est interdum eget nisi, nec fames. Eget amet hac varius aliquam.
				| Mattis egestas suspendisse convallis eu arcu et aliquet. 
				| Porttitor risus sociis vitae nunc id lacus eget felis. Viverra et 
				| purus nibh ut. Sed ac leo sit posuere vulputate sed morbi. Donec gravida
				| at turpis sed pulvinar. A nibh non consectetur morbi in arcu, in 
				| pellentesque mauris. Eu sodales netus faucibus interdum interdum platea
				| massa egestas. Facilisis donec gravida pretium diam semper at id eleifend.
			a.block_events__link Подробнее

		img.block_poster(src="/app/img/events_and_turists-block/turist_block-photo.jpg" alt="poster_events")

		.block_events
			a.block_events__link-events Top “Manhattan” tourists
			h2.block_events__header__events Туристы
			p.block_events__describe Quam massa pretium et venenatis.
				| Fringilla sagittis, arcu massa, in sem viverra consequat. Tempus sed 
				|est interdum eget nisi, nec fames. Eget amet hac varius aliquam.
				| Mattis egestas suspendisse convallis eu arcu et aliquet. 
				| Porttitor risus sociis vitae nunc id lacus eget felis. Viverra et 
				| purus nibh ut. Sed ac leo sit posuere vulputate sed morbi. Donec gravida
				| at turpis sed pulvinar. A nibh non consectetur morbi in arcu, in 
				| pellentesque mauris. Eu sodales netus faucibus interdum interdum platea
				| massa egestas. Facilisis donec gravida pretium diam semper at id eleifend.
			a.block_events__link Подробнее