header
	.header__wrap
		.nav
			.nav__logo
				img(src="../../../app/img/header/header-logo.png" alt="")
			ul.nav__list
				li.nav__item
					a.nav__link(href="../../../index.html") Главная
				li.nav__item
					a.nav__link(href="#") Меню
				li.nav__item 
					a.nav__link(href="../../../includes/pages/poster.html") Афиша
				li.nav__item 
					a.nav__link(href="#") Сотрудничество
				li.nav__item 
					a.nav__link(href="#") Галерея
				li.nav__item 
					a.nav__link(href="#") Новости
			a.nav__booking-button(href="#") бронирование




