.kitchen-block 
	.kitchen-block__wrap 
		h1.kitchen-block__header Кухня

		.kitchen-block__block-dishes
			.kitchen-block__dish
				img(src="app/img/kitchen-block/kitchen-block__dish/Rectangle 36.jpg" alt="")
				.kitchen-block__dish-block-text 
					.kitchen-block__name-dish-block
						p.kitchen-block__name-dish Amet donec.
						a.kitchen-block__cost-dish 550 р

					p.kitchen-block__weight-dish 200 гр
					p.kitchen-block__describe-dish Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

			.kitchen-block__dish
				img(src="app/img/kitchen-block/kitchen-block__dish/Rectangle 40.jpg" alt="")
				.kitchen-block__dish-block-text 
					.kitchen-block__name-dish-block
						p.kitchen-block__name-dish Amet donec.
						a.kitchen-block__cost-dish 550 р

					p.kitchen-block__weight-dish 200 гр
					p.kitchen-block__describe-dish Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

			.kitchen-block__dish
				img(src="app/img/kitchen-block/kitchen-block__dish/Rectangle 37.jpg" alt="")
				.kitchen-block__dish-block-text 
					.kitchen-block__name-dish-block
						p.kitchen-block__name-dish Amet donec.
						a.kitchen-block__cost-dish 550 р

					p.kitchen-block__weight-dish 200 гр
					p.kitchen-block__describe-dish Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

			.kitchen-block__dish
				img(src="app/img/kitchen-block/kitchen-block__dish/Rectangle 41.jpg" alt="")
				.kitchen-block__dish-block-text 
					.kitchen-block__name-dish-block
						p.kitchen-block__name-dish Amet donec.
						a.kitchen-block__cost-dish 550 р

					p.kitchen-block__weight-dish 200 гр
					p.kitchen-block__describe-dish Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

			.kitchen-block__dish
				img(src="app/img/kitchen-block/kitchen-block__dish/Rectangle 38.jpg" alt="")
				.kitchen-block__dish-block-text 
					.kitchen-block__name-dish-block
						p.kitchen-block__name-dish Amet donec.
						a.kitchen-block__cost-dish 550 р

					p.kitchen-block__weight-dish 200 гр
					p.kitchen-block__describe-dish Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

			.kitchen-block__dish
				img(src="app/img/kitchen-block/kitchen-block__dish/Rectangle 42.jpg" alt="")
				.kitchen-block__dish-block-text 
					.kitchen-block__name-dish-block
						p.kitchen-block__name-dish Amet donec.
						a.kitchen-block__cost-dish 550 р

					p.kitchen-block__weight-dish 200 гр
					p.kitchen-block__describe-dish Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

			.kitchen-block__dish
				img(src="app/img/kitchen-block/kitchen-block__dish/Rectangle 39.jpg" alt="")
				.kitchen-block__dish-block-text 
					.kitchen-block__name-dish-block
						p.kitchen-block__name-dish Amet donec.
						a.kitchen-block__cost-dish 550 р

					p.kitchen-block__weight-dish 200 гр
					p.kitchen-block__describe-dish Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

			.kitchen-block__dish
				img(src="app/img/kitchen-block/kitchen-block__dish/Rectangle 43.jpg" alt="")
				.kitchen-block__dish-block-text 
					.kitchen-block__name-dish-block
						p.kitchen-block__name-dish Amet donec.
						a.kitchen-block__cost-dish 550 р

					p.kitchen-block__weight-dish 200 гр
					p.kitchen-block__describe-dish Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.


		.kitchen-block__control 
			.kitchen-block__control-left
				img.arrow-left(src="app/img/kitchen-block/control-slider/ep_arrow-left.svg" alt="")
			.kitchen-block__control-right
				img.arrow-right(src="app/img/kitchen-block/control-slider/ep_arrow-right.svg" alt="")

		a.kitchen-block__button-all-menu все меню
