.main-block-anounce
 .main-block-anounce__wrap
  .main-block-anounce-left-block
   .anounce-link Since 1996
   p.anounce-header True. Fontanka. Underground. 

  .main-block-anounce-right-block
   .main-block-anounce__tab-headers
    p.main-block-anounce__header Ближайшие
    p.main-block-anounce__header-soon скоро
   .main-block-anounce__tab

    .main-block-anounce-block-posters
     a.poster
      img(src="app/img/main-block-anounce/block-posters/poster1.png" alt="")
     a.poster
      img(src="app/img/main-block-anounce/block-posters/poster2.jpg" alt="")
     a.poster
      img(src="app/img/main-block-anounce/block-posters/poster3.jpg" alt="")
     a.poster
      img(src="app/img/main-block-anounce/block-posters/poster4.jpg" alt="")



   .main-block-anounce__tab-2

    .main-block-anounce-block-posters-2
     a.poster
      img(src="app/img/main-block-anounce/block-posters/poster1.png" alt="")
     a.poster
      img(src="app/img/main-block-anounce/block-posters/poster3.jpg" alt="")
     a.poster
      img(src="app/img/main-block-anounce/block-posters/poster4.jpg" alt="")
     a.poster
      img(src="app/img/main-block-anounce/block-posters/poster2.jpg" alt="")


 a.main-block-anounce__button-menu(href="#") Top “Manhattan” menu


