.techrider
	.techrider__wrap 
		a.techrider-top-link Top “Manhattan” party
		p.techrider__header ТЕхрайдер

		.techrider__block-person
			.techrider__opening-menu
				.opening-menu 
					.opening-menu__headline-block
						p.opening-menu__headline Loudspeakers	
						img.arrow-up(src="app/img/techrider/techrider__sound-produsers/ep_arrow-up-bold.svg" alt="")
					ul.showed-menu
						li.showed-item Acoustic system BELL Top 600W x 2 
						li.showed-item Acoustic system BELL Mid 600W x 2 
						li.showed-item Acoustic system BELL Sub 1000W x 2
						li.showed-item Front monitor Yamaha SM12V 300w x 2 
						li.showed-item Backside monitor Dynacord 500W x 2 
				.opening-menu 
					.opening-menu__headline-block
						p.opening-menu__headline Amplifier	
						img.arrow-up(src="app/img/techrider/techrider__sound-produsers/ep_arrow-up-bold.svg" alt="")
					ul.showed-menu
						li.showed-item Acoustic system BELL Top 600W x 2 
						li.showed-item Acoustic system BELL Mid 600W x 2 
						li.showed-item Acoustic system BELL Sub 1000W x 2
						li.showed-item Front monitor Yamaha SM12V 300w x 2 
						li.showed-item Backside monitor Dynacord 500W x 2 
				.opening-menu 
					.opening-menu__headline-block
						p.opening-menu__headline FOH	
						img.arrow-up(src="app/img/techrider/techrider__sound-produsers/ep_arrow-up-bold.svg" alt="")
					ul.showed-menu
						li.showed-item Acoustic system BELL Top 600W x 2 
						li.showed-item Acoustic system BELL Mid 600W x 2 
						li.showed-item Acoustic system BELL Sub 1000W x 2
						li.showed-item Front monitor Yamaha SM12V 300w x 2 
						li.showed-item Backside monitor Dynacord 500W x 2 
				.opening-menu 
					.opening-menu__headline-block
						p.opening-menu__headline Backline	
						img.arrow-up(src="app/img/techrider/techrider__sound-produsers/ep_arrow-up-bold.svg" alt="")
					ul.showed-menu
						li.showed-item Acoustic system BELL Top 600W x 2 
						li.showed-item Acoustic system BELL Mid 600W x 2 
						li.showed-item Acoustic system BELL Sub 1000W x 2
						li.showed-item Front monitor Yamaha SM12V 300w x 2 
						li.showed-item Backside monitor Dynacord 500W x 2 
				.opening-menu 
					.opening-menu__headline-block
						p.opening-menu__headline Microphone set	
						img.arrow-up(src="app/img/techrider/techrider__sound-produsers/ep_arrow-up-bold.svg" alt="")
					ul.showed-menu
						li.showed-item Acoustic system BELL Top 600W x 2 
						li.showed-item Acoustic system BELL Mid 600W x 2 
						li.showed-item Acoustic system BELL Sub 1000W x 2
						li.showed-item Front monitor Yamaha SM12V 300w x 2 
						li.showed-item Backside monitor Dynacord 500W x 2 
				.opening-menu 
					.opening-menu__headline-block
						p.opening-menu__headline DJ equipment	
						img.arrow-up(src="app/img/techrider/techrider__sound-produsers/ep_arrow-up-bold.svg" alt="")
					ul.showed-menu
						li.showed-item Acoustic system BELL Top 600W x 2 
						li.showed-item Acoustic system BELL Mid 600W x 2 
						li.showed-item Acoustic system BELL Sub 1000W x 2
						li.showed-item Front monitor Yamaha SM12V 300w x 2 
						li.showed-item Backside monitor Dynacord 500W x 2 




			.techrider__sound-produsers-block 
				p.techrider__sound-produsers_headline Звукорежиссеры клуба МАНХЭТТЕН
				.techrider__sound-produsers
					.sound-produser
						img(src="app/img/techrider/techrider__sound-produsers/Konstantin.jpg" alt="")
						p.name-produser Изотов Константин
						.sound-produser__social-block 
							img.social-icon(src="app/img/techrider/techrider__sound-produsers/social-block/vk.svg" alt="")
							img.social-icon(src="app/img/techrider/techrider__sound-produsers/social-block/tg.svg" alt="")
					.sound-produser
						img(src="app/img/techrider/techrider__sound-produsers/David.jpg" alt="")
						p.name-produser Давид Хозиев
						.sound-produser__social-block 
							img.social-icon(src="app/img/techrider/techrider__sound-produsers/social-block/vk.svg" alt="")
							img.social-icon(src="app/img/techrider/techrider__sound-produsers/social-block/tg.svg" alt="")




