.manhattan-photo
	.manhattan-photo__wrap 
		.manhattan-photo__block-headline 
			a.manhattan-photo__link-top Top “Manhattan” photo
			h2.gallery-text галерея

		.manhattan-photo__block-pictures 
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-1.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-2.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-3.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-4.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-5.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-6.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-7.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-8.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-9.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-10.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-11.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")
			.manhattan-picture 
				img.manhattan-background-pic(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/manhattan-picture-12.jpg" alt="")
				img.zoom(src="../../../../../app/img/gallery/manhattan-photo__block-pictures/zoom-lense.png" alt="")


