doctype html
html(lang="ru-RU")
head 
	meta(charset="utf-8")
	title MANHATTAN
	meta(http-eqiv='X-UA-Compatible' , content="IE = edge")
	meta(name="viewport" content="width=device-width, initiale-scale=1")
	meta(name="keywords" content="")
	link(rel="stylesheet" type="text/css" href="app/css/style.css")
	link(rel="stylesheet" type="text/css" href="app/slider/ism/css/my-slider.css")
	link(rel="stylesheet" type="text/css" href="app/tabs/tabs.css")
	link(rel="stylesheet" type="text/css" href="app/opened_menu/opened_menu.css")
	link(rel="stylesheet" href="app/fonts/Stolzl/Stolzl-Regular.woff")

body 
	.wrapper   
		include ../pug/includes/header.pug 
		include ../pug/includes/main-block-anounce.pug
		include ../pug/includes/kitchen-block.pug
		include ../pug/includes/events_and_turists-block.pug
		include ../pug/includes/techrider.pug
		include ../pug/includes/contacts.pug
		include ../pug/includes/footer.pug


script(src="app/js/tab.js") 
script(src="app/js/techrider-open-menu.js") 
script(src="app/slider/ism/js/ism-2.2.min.js") 






