header
	.header__wrap
		.nav
			.nav__logo
				img(src="app/img/header/header-logo.png" alt="")
			ul.nav__list
				li.nav__item
					a.nav__link(href="../../../index.html") Главная
				li.nav__item
					a.nav__link(href="../../pages/ds/ds.html") Меню
				li.nav__item 
					a.nav__link(href="../../pages/poster/poster.html") Афиша
				li.nav__item 
					a.nav__link(href="../../pages/content/content.html") Сотрудничество
				li.nav__item 
					a.nav__link(href="../../pages/gallery/gallery.html") Галерея
				li.nav__item 
					a.nav__link(href="#") Новости
			a.nav__booking-button(href="#") бронирование




