.booking 
	.booking__wrap 
		.booking__social-date-block 
			.social-block 
				.social-icon
					img.icon(src="../../../../../app/img/ds/vk-block/entypo-social_vk.svg" alt="") 
				.social-icon
					img.icon(src="../../../../../app/img/ds/vk-block/bxl_telegram.svg" alt="") 

			.booking__date 
				.data 17.07.2022
				img.point(src="../../../../../app/img/ds/point.png" alt="")
				.time 19.00





		.dish-and-price__wrap
			.booking__block-dish 	
				img.dish(src="../../../../../app/img/ds/booking_dish.jpg" alt="")

			.booking__dish-describe-block__wrap
				.booking__block-dish-describe
					.dish Amet donec.
					.price 550 ₽ 
				.block-weight__wrap
					.weight 200 гр
					.dish-describe Placerat id auctor nunc id vel vel curabitur. 
						| Urna fames maecenas leo elit diam nibh elit.

		.booking-button бронирование
		.booking-button-kitchen__wrap
			.booking-top-menu Top “Manhattan” menu
			.booking-kitchen Кухня
			a.link-arrow-left 
				img.arrow-left-pic(src="../../../../../app/img/ds/booking-arrow-left.png" alt="")
			.price.left-modify-booking 550 ₽
			.booking-top-menu.left-modify-booking-menu Top “Manhattan” menu






