.ds-menu 	
	.ds-menu__wrap
		a.ds-menu-link все меню

		.ds-menu__loudspeakers
			.loudspeaker 
				.loudspeaker__wrap
					.loudspeaker__text Loudspeakers
					img.loudspeaker__arrow(src="../../../app/img/ds/ep_arrow-up-bold.png" alt="")

			.loudspeaker 
				.loudspeaker__wrap
					.loudspeaker__text Loudspeakers
					img.loudspeaker__arrow(src="../../../app/img/ds/ep_arrow-up-bold.png" alt="")


