.manhattan-party
	.manhattan-party__wrap 	
		a.manhattan-party__link Top “Manhattan” party
		p.manhattan-party__post афиша

		.manhattan-party__block-posters 
			.block-poster
				img.manhattan-party-poster(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-6.jpg" alt="")
				.block-poster__advise 
					.data-advise 17.07.2022 
					.point
					.time-advise 19.00

				.headline-advise-in-clube  Рок в Манхэттене 
				.manhattan-party__link_poster-advise 550 ₽ 


			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-2.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-3.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-4.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-4.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-6.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-2.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-3.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-3.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-4.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-6.jpg" alt="")
			.block-poster
				img(src="../../../../../app/img/manhattan-party/manhattan-party__block-posters/event-image-2.jpg" alt="")
