@import url(../../../partials/header.scss);
@import url(../../../partials/pages/manhattan/manhattan-party.scss);
@import url(../../contacts.scss);
@import url(../../footer.scss);


@font-face {
	font-family: "Staatliches-Regular";
	font-style : normal;
	src        : local("app/fonts/Staatliches/Staatliches-Regular.ttf");

	font-weight: 400;
}

@font-face {
	font-family: "Stolzl";
	font-style : normal;
	src        : local("app/fonts/Stolzl/stolzl_regular.otf"), local("../../app/fonts/Stolzl/Stolzl-Regular.woff"),
		local("app/fonts/Stolzl/stolzl_medium.otf");
	font-weight: 400;
}



body {
	font-family  : "Stolzl", "Gotham Pro", "Staatliches-Regular";
	background   : #210e09;
	display      : grid;
	justify-items: center;
}

* {
	margin : 0;
	padding: 0;
}

.wrapper {
	display      : grid;
	width        : 1305px;
	justify-items: center;
}